/* Header */
.about-header {
  background-color: rgba(85, 131, 218, 0.6);
  display: flex;
  padding: 2%;
}

.about-lbl-name {
  font-size: 3em;
  color: azure;
  text-shadow: 3px 3px grey;
}

.about-header-social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.about-header-social-icon {
  font-size: 1.75em;
  color: azure;
}

/* Data */
.about-data-container {
  padding-top: 2.5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 2.5%;
}

.about-data {
  background-color: rgb(240, 248, 255, 0.8);
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5em;
}

/* Data */
/* About Me */
.about-me-container {
  display: flex;
}

.about-me-lbl {
  font-size: 1.4em;
  text-decoration: underline;
}

.about-me-description-container {
  margin-top: 1.5%;
}

.about-me-resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
}

.about-me-btn-resume {
  width: 60%;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-resume-icon {
  font-size: 1.5em;
  margin-right: 5px;
}

.about-me-img-stock {
  width: 450px;
}

/* Data */
/* What's my stack */
.about-stack-container {
  margin-top: 8%;
}

.about-stacks-lbl {
  font-size: 1.4em;
  text-decoration: underline;
}

.about-stacks-icon-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.5%;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: center;
  gap: 28px;
}

.about-stack-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
}

.about-stack-circle-shadow {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.about-stack-circle {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
}

.about-stack-circle:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.about-stack-centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  padding: 12%;
}

.about-stack-footer {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  margin-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Data */
/* About Project */
.about-project-container {
  display: flex;
  margin-top: 8%;
  text-align: right;
}

.about-project-img-stock {
  width: 400px;
}

.about-project-lbl {
  font-size: 1.4em;
  text-decoration: underline;
}

/* Data */
/* About Education and Experience*/
.about-education-container,
.about-experience-container {
  margin-top: 8%;
}

.about-education-lbl,
.about-experience-lbl {
  font-size: 1.4em;
  text-decoration: underline;
}

.about-education-cards-container,
.about-experience-cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 2% 2% 0% 2%;
}

.about-card {
  width: 35%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.about-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.about-card-header {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1em;
  padding: 1%;
}

.about-card-content {
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

.about-education-card-ucsg {
  background-color: #972b30;
}

.about-education-card-platzi {
  background-color: #99c93f;
}

.about-education-card-efset {
  background-color: #000000;
}

.about-experience-card-ikusoft {
  background-color: #282f39;
}

.about-experience-card-freelancer {
  background-color: #1e3e56;
}

.about-experience-card-bspi {
  background-color: #b3071c;
}

.about-card-img {
  width: 100%;
}

.about-card-description {
  margin-top: 2%;
}

.about-card-years {
  font-size: 0.9em;
}

/* Data */
/* Back to game */
.about-data-back-game {
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: right;
  margin-top: 5%;
}

/* responsive */
/* Small Phones (up to 479px) */
@media (max-width: 479px) {
  /* Header */
  .about-lbl-name {
    font-size: 1.8em;
  }

  .about-header-social-icon {
    font-size: 1.4em;
  }

  /* Data */
  .about-data-container {
    padding: 5%;
  }

  .about-data {
    padding: 5%;
  }

  /* Data */
  /* About Me */
  .about-me-container {
    display: block;
  }

  .about-me-resume-container {
    margin-top: 5%;
  }

  .about-me-btn-resume {
    width: 75%;
  }

  .about-me-resume-icon {
    font-size: 1.8em;
  }

  .about-me-img-stock {
    margin-top: 40px;
    width: 100%;
  }

  .about-stacks-icon-container {
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 22px;
  }

  .about-stack-circle-container {
    height: 85px;
    width: 85px;
  }

  .about-stack-footer {
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Data */
  /* About Project */
  .about-project-container {
    display: block;
    margin-top: 5%;
    text-align: left;
  }

  .about-project-img-stock {
    width: 100%;
  }

  .about-education-cards-container,
  .about-experience-cards-container {
    display: block;
  }

  .about-card {
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
  }
}

/* Large Phones (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  /* Header */
  .about-lbl-name {
    font-size: 2.6em;
  }

  .about-header-social-icon {
    font-size: 2.2em;
  }

  /* Data */
  .about-data-container {
    padding: 5%;
  }

  .about-data {
    font-size: 2.1em;
    padding: 5%;
  }

  /* Data */
  /* About Me */
  .about-me-container {
    display: block;
  }

  .about-me-resume-container {
    margin-top: 5%;
  }

  .about-me-btn-resume {
    width: 75%;
  }

  .about-me-resume-icon {
    font-size: 1.8em;
  }

  .about-me-img-stock {
    margin-top: 40px;
    width: 100%;
  }

  .about-stacks-icon-container {
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 22px;
  }

  .about-stack-circle-container {
    height: 85px;
    width: 85px;
  }

  .about-stack-footer {
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Data */
  /* About Project */
  .about-project-container {
    display: block;
    margin-top: 5%;
    text-align: left;
  }

  .about-project-img-stock {
    width: 100%;
  }

  .about-education-cards-container,
  .about-experience-cards-container {
    display: block;
  }

  .about-card {
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
  }

  /* Data */
  /* Back to game */  
  .about-data-back-game-btn{
    font-size: .6em;
  }
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Header */
  .about-lbl-name {
    font-size: 3.2em;
  }

  .about-header-social-icon {
    font-size: 2.8em;
  }

  /* Data */
  .about-data-container {
    padding: 5%;
  }

  .about-data {
    font-size: 2.1em;
    padding: 5%;
  }

  /* Data */
  /* About Me */
  .about-me-container {
    display: block;
  }

  .about-me-resume-container {
    margin-top: 5%;
  }

  .about-me-btn-resume {
    width: 60%;
  }

  .about-me-resume-icon {
    font-size: 1.8em;
  }

  .about-me-img-stock {
    margin-top: 40px;
    width: 100%;
  }

  .about-stacks-icon-container {
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    gap: 22px;
  }

  .about-stack-circle-container {
    height: 120px;
    width: 120px;
  }

  .about-stack-footer {
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Data */
  /* About Project */
  .about-project-container {
    display: block;
    margin-top: 5%;
    text-align: left;
  }

  .about-project-img-stock {
    width: 100%;
  }

  .about-education-cards-container,
  .about-experience-cards-container {
    display: block;
  }

  .about-card {
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
  }

   /* Data */
  /* Back to game */  
  .about-data-back-game-btn{
    font-size: .7em;
  }
}
