html{
    background-image: url("../assets/images/backgrounds/bg-home-desktop.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

/* Small Phones (up to 479px) */
@media (max-width: 479px) {
    html{
        background-image: url("../assets/images/backgrounds/bg-home-phone.jpg");
    }
}

/* Large Phones (480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
    html{
        background-image: url("../assets/images/backgrounds/bg-home-phone.jpg");
    }   
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    html{
        background-image: url("../assets/images/backgrounds/bg-home-phone.jpg");
    }
}